@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url(../fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  font-family: "Sarabun", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #262d47;
}
.header__wrapper {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__nav img {
  width: 160px;
  height: 46px;
}
.header__list {
  display: flex;
  align-items: center;
}

.header__list li a {
  display: flex;
  padding-left: 45px;
  padding-right: 16px;
  padding: 0 45px 0 16px;
  font-size: 16px;
  color: #fff;
  height: 100%;
}
.p-button {
  color: #fff;
  background: #3490fc;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .p-button {
    font-size: 14px;
  }
}
.connect-wallet {
  border-radius: 5px;
  width: 137px;
  height: 52px;
}
@media screen and (max-width: 1024px) {
  .connect-wallet {
    margin-right: 20px;
    margin-left: auto;
    width: 127px;
    height: 50px;
  }
}
.promo-wallet {
  width: 194px;
  height: 54px;
  border-radius: 30px;
}
.promo {
  width: 100%;
  background: #262d47;
}
.promo__wrapper {
  max-width: 1444px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-top: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
}
@media screen and (max-width: 1024px) {
  .promo__wrapper {
    flex-direction: column;
    padding-top: 80px;
    gap: 20px;
    padding-bottom: 20px;
  }
}
.promo__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 688px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .promo__text {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.promo h1 {
  color: #ffffff;
  font-family: "Sarabun", Sans-serif;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 1px;
}
.promo p {
  color: #ffffff;
  font-family: "Sarabun", Sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.promo p span {
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .promo p span {
    display: none;
  }
}
.promo__item-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .promo__item-btns {
    margin-top: 0;
  }
}
.promo-wallet {
  width: 194px;
  height: 54px;
  border-radius: 30px;
  border: 1px solid #3490fc;
  transition: all 0.2s ease-in-out;
}
.promo-wallet:hover {
  border: 1px solid #fff;
}
.promo__image {
  width: 508px;
  height: 473px;
}
@media screen and (max-width: 767px) {
  .promo__image {
    width: 335px;
    height: 312px;
  }
}
.doing {
  width: 100%;
}
.doing__wrapper {
  max-width: 1260px;
  width: 100%;
  padding-top: 107px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 200px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .doing__wrapper {
    padding-top: 50px;
  }
}
@media screen and (max-width: 960px) {
  .doing__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .doing__wrapper {
    padding-top: 20px;
  }
}
.doing__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .doing__text {
    max-width: 100%;
    align-items: center;
  }
}
.doing h2 {
  color: #262d47;
  font-size: 38px;
  font-weight: 500;
}
.doing p {
  color: #262d4799;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.doing h3 {
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 960px) {
  .doing h3 {
    align-self: flex-start;
  }
}
.doing-wallet {
  width: 225px;
  height: 54px;
  border-radius: 30px;
  margin-top: 20px;
}
.doing__image {
  max-width: 486px;
  max-height: 486px;
}
@media screen and (max-width: 600px) {
  .doing__image {
    max-width: 335px;
    max-height: 335px;
  }
}
.walbox {
  width: 100%;
}

.walbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 113px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  .walbox__wrapper {
    padding-top: 80px;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .walbox__wrapper {
    flex-direction: column;
  }
}
.walbox__item {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
@media screen and (max-width: 1280px) {
  .walbox__item {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .walbox__item {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 767px) {
  .walbox__item {
    width: 100%;
    height: 250px;
  }
}
.walbox__item-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.walbox__item-inner h5 {
  color: #3490fc;
  font-family: "Manrope", Sans-serif;
  font-size: 19px;
  font-weight: 600;
}
.walbox__item-inner p {
  font-size: 15px;
  font-style: italic;
  color: #262d4799;
}
.item-blue {
  background: #3490fc;
}
.item-blue h5 {
  color: #ffffff;
  font-family: "Manrope", Sans-serif;
  font-size: 55px;
  font-weight: 600;
}
.check-free {
  display: flex;
}
.check-free__wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 115px auto 0;
  background: #262d47;
  display: flex;
  border-radius: 24px;
}
.check-free__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 71px 62px 71px auto;
}
.check-free__text h2 {
  color: #ffffff;
  font-family: "Manrope", Sans-serif;
  font-size: 38px;
  font-weight: 500;
}
.check-free__text span {
  text-align: center;
  color: #ffffffcc;
  font-family: "Manrope", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.check-free-wallet {
  width: 191px;
  height: 54px;
  border-radius: 30px;
  margin-top: 30px;
}
.check-free__image-box {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.check-free__image {
  display: block;
  width: 213px;
  height: 253px;
  margin: 50px auto 50px 113px;
}
.statistics {
  width: 100%;
}
.statistics__wrapper {
  max-width: 1140px;
  width: 100%;
  padding-top: 115px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
.statistics__wrapper p {
  text-align: center;
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 37px;
  font-weight: 400;
  line-height: 50px;
}
.statistics__wrapper p span {
  font-weight: 700;
  color: rgb(52, 144, 252);
}
.features {
  width: 100%;
}
.features__wrapper {
  padding-top: 115px;
  box-sizing: border-box;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.features__wrapper span {
  text-align: center;
  color: #262d4799;
  font-family: "Manrope", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.features__inner {
  display: flex;
}
.features__text-box {
  flex-basis: 50%;
  display: flex;
}
.features__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 435px;
  width: 100%;
  margin: 56px auto 55px 39px;
}
.features__texth2 {
  color: #262d47;
  font-family: "Sarabun", Sans-serif;
  font-size: 38px;
  font-weight: 500;
}
.features__text p {
  color: #262d4799;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.features-wallet {
  width: 190px;
  height: 54px;
  background: #fb434b;
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #fb434b;
  transition: all 0.2s ease-in-out;
}
.features-wallet:hover {
  border: 1px solid #fff;
}
.features__image {
  flex-basis: 50%;
  display: flex;
}
.features__image img {
  width: 412px;
  height: 390px;
  margin: 10px auto;
}
.choice {
  width: 100%;
}
.choice__wrapper {
  max-width: 1140px;
  width: 100%;
  padding-top: 113px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}
.choice__wrapper h2 {
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 38px;
  font-weight: 500;
}
.choice__gride {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 20px;
}
.choice__item {
  height: 267px;
  border: 1px solid #eff2fc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 34px 27px 9px 27px;
  box-sizing: border-box;
}
.choice__item img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}
.choice__item h4 {
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.choice__item p {
  text-align: center;
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.faq {
  width: 100%;
}
.faq__wrapper {
  max-width: 1140px;
  width: 100%;
  padding-top: 113px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
.faq__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px auto;
}
.faq__item {
  width: 100%;
  height: 70px;
  padding: 30px 15px 20px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #eff2fc;
  border-radius: 5px;
}
.faq__check {
  width: 18px;
  height: 18px;
  fill: #eff2fc;
}
.faq__question {
  width: 100%;
  background: #e1eeff;
  display: flex;
  align-items: center;
  gap: 31px;
  padding: 35px 45px 45px 32px;
  box-sizing: border-box;
}
.faq__question-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 822px;
  width: 100%;
}
.faq__question h2 {
  color: #3490fc;
  font-family: "Sarabun", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.faq__question p {
  color: #262d4799;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
}
.question-wallet {
  width: 204px;
  height: 54px;
  border-radius: 30px;
  background-color: #3490fc;
  font-family: "Sarabun", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  fill: #ffffff;
  border: 1px solid #3490fc;
  transition: all 0.2s ease-in-out;
}
.question-wallet:hover {
  border: 1px solid #fff;
}
.our-team {
  width: 100%;
}
.our-team__wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 113px auto 0;
}
.our-team__wrapper h2 {
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 38px;
  font-weight: 500;
}
.our-team__inner {
  width: 100%;
  padding: 10px 58px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 20px;
}
.our-team__item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #eff2fc;
  border-radius: 8px;
  padding: 40px 40px 8px 40px;
  box-sizing: border-box;
}
.our-team__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
.our-team__item h3 {
  color: #262d47;
  font-family: "Sarabun", Sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.our-team__item h4 {
  color: #3490fc;
  font-family: "Sarabun", Sans-serif;
  font-size: 18px;
  font-weight: 800;
}
.our-team__item p {
  color: #262d47;
  font-family: "Manrope", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.our-team__link {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-team__link svg {
  width: 22px;
  height: 22px;
}
.connection {
  width: 100%;
}
.connection__wrapper {
  max-width: 1140px;
  width: 100%;
  display: flex;
  padding-top: 113px;
  box-sizing: border-box;
  margin: 0 auto;
}
.connection__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #262d47;
  padding-top: 94px;
  padding-bottom: 122px;
  padding-left: 222px;
  padding-right: 222px;
  box-sizing: border-box;
  border-radius: 20px;
}
.connection__inner h2 {
  color: #ffffff;
  font-family: "Manrope", Sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}
.connection__form {
  width: 100%;
  height: 74px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.connection__form input {
  width: 476px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #ababab;
  padding: 12px;
  box-sizing: border-box;
}
.connection__form input:focus {
  outline: none;
  border: 2px solid #3491fc86;
}
.connection__form button {
  width: 146px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0062ff;
  color: #fff;
  font-family: "Sarabun", Sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}
.connection__form button:hover {
  color: #000;
}
/*---адаптив---*/
.header__burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1024px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
@media screen and (max-width: 1024px) {
  .header__list {
    display: none;
  }
}
